
 <mat-toolbar color="primary">
    <span>AppBanca</span>
    <span class="example-spacer"></span>
     <button routerLink="ListPrestamos" mat-button>Prestamos</button>
     <button routerLink="register" mat-button>Registrar usuario</button>
     <button routerLink="profile" mat-button>Perfil</button>
    <span class="example-spacer"></span>
    <button mat-icon-button routerLink="" class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<mat-toolbar >
  <span class="example-spacer"></span>
  <h2 *ngFor="let item of items | async">Dinero en banca {{item.disponible | currency}}</h2>
  <span class="example-spacer"></span>
</mat-toolbar>
