<div *ngIf="auth.user | async ; else showLogin">
  <button class="btn btn-danger" (click)="logout()">Logout</button>
</div>
<div class="container">
<ng-template #showLogin>
  <div class="col-6 mx-auto">
    <mat-form-field appearance="fill">
      <mat-label class="form-control" >Email</mat-label>
      <input matInput type="text" [(ngModel)]="email">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label class="form-control" >Email</mat-label>
      <input matInput type="password" [(ngModel)]="pass">
    </mat-form-field>
  <br>


    <div class="d-md-flex text-center" *ngIf="action==='login'" >
      <button mat-raised-button color="primary" routerLink="/register">Registrar</button><br><br>
      <button mat-mini-fab color="warn" (click)="loginWith()" ><small>google</small></button><br><br>
    </div>
  </div>
</ng-template>
</div>
<br>
<p></p>
